html{
    background-color: white;
}
p{
    color: black;
    text-align: justify;
    font-size: 150%;
    margin: 15px;
    font-family: cursive;

}
h1{
    color: #434ee9;
    font-size: 400%;
    text-align: center;
    font-family: cursive;
    
}
h3{
    color: #434ee9;
    font-size: 225%;
    text-align: center;
}
.p1{
    font-size: 150%;
    text-align: justify;
    margin: 15px;
}
strong{
    color: #434ee9;
}
#nav1{
    background-color: #01031d; 
}
#nav2{
    background-color: #434ee9;
    font-size: 170%;
}
#pf{
    color: #434ee9;
    font-size: 20px;
}
#bt{
    background-color:  #01031d;
    text-decoration: none;
    color: white;
}
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    text-align: right;
}
.dvnav2{
    text-align:center;
}
.btn-neon:hover{
    background: #01031d;
    box-shadow: 0 0 10px #01031d, 0 0 40px #01031d,0 0 80px #01031d;
    transition-delay: 1s;
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#01031d);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#01031d);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#01031d);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#01031d);
}
.btn-neon:hover #span4{
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.dvnav{
    text-align: center;
}
#hnav{
    font-size: 60px;
    text-align: center;
}
.menu{
    text-align: left;
}
summary{
    color: #01031d;
}
summary:hover{
    cursor: pointer;
}
details{
    text-align: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#g1{
    width: 4%;
    height: 4%;
}
address{
    background-color: #01031d;
}
#footer{
    font-size: 100%;
}
#desarrolladores{
    font-size: 30px;
}
address{
    color: #434ee9;
    text-align: center;
    font-size: 150%;
}
.dividir{
    display: flex;
}
.gym{
    margin: 4%;
    border: solid #434ee9 5px;
    padding: 1%;
}
.calistenia{
    margin: 4%;
    border: solid #434ee9 5px;
    padding: 1%;
}
.calistenia:hover{
    transform: scale(1.2);
}
#g1{
    width: 4%;
    height: 4%;
    border-radius: 200px;
}
.gym:hover{
    transform: scale(1.2);
}
#menu{
    position: fixed;
    z-index: 10;
    width: 100%;
    margin-top: -15px;
}
.p2{
    font-size: 150%;
    text-align: justify;
    padding-top: 60px;
    color: black;
}
.g1{
    margin: 20px;
    border: solid #434ee9 5px;
    padding: 20px;
    width: 20%;
    height: 20%;
}
.flt{
    display: block;
    position: fixed;
   z-index: 10;
   width:60px;
   margin-top: 62vh;
   height: 60px;
   margin-left: 190vh;
   border-radius: 200px;
   background: none;
}
.hdv1{
    color: #434ee9;
    font-size: 225%;
    text-align:center; 
}
#g_1{
    border-radius: 200px;
    width: 220%;
    height: 220%;
}
#wap{
    display: none; 
}
#boton{
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    background-color: #434ee9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50px;

}
#boton:hover{
    background-color: #43bde9;
}
#boton_2{
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    background-color: #434ee9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50px;
    margin-top: 260%;
}
#boton_2:hover{
    background-color: #43bde9;
}
.imgboton{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
#dentro{
    width: 40px;
    height: 40px;
    background-color: #434ee9;
    border-radius: 10px;
}
#dentro:hover{
    background-color:#43bde9;
}
  